.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  border-radius: 8px;
  background: #fee9e5;
  width: 55%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* align-items: center; */
  align-content: center;
}

.logo-container__1 {
  text-align: center;
}

/*custom button*/
.btn-modal-close {
  border: 5px solid #faf9fe;
  border-radius: 18px;
  background: #faf9fe;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.1s ease, color 0.1s ease;
  cursor: pointer;
}

.btn-modal-close:hover,
.btn-modal-close:active {
  background-color: #3a3d42;
  color: #faf9fe;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img {
    height: 26px;
  }
  .logo-container {
    display: block;
  }
  div.logo-container {
    padding: 0 !important;
    margin: 0 auto;
  }
  div.logo-container__1 {
    padding: 0 26px !important;
  }
  .btn-modal-close {
    font-size: 11px;
  }
  .modal-main {
    position: fixed;
    border-radius: 8px;
    width: 93%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
  .modal-main {
    /* background: #161616; */
    width: 88%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .modal-main {
    /* background: #7216eb; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal-main {
    /* background: #eb1681; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .modal-main {
    /* background: #320efd; */
    width: 50%;
  }
}
